<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.manpowergroup.cn.icloud.sys.mapper.OrganMapper" >
 <!-- <cache eviction="LRU" type="com.manpowergroup.cn.core.memcached.MemcachedCache"></cache> -->
  <resultMap id="BaseResultMap" type="com.manpowergroup.cn.icloud.sys.entity.Organ" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="PARENT_ID" property="parentId" jdbcType="DECIMAL" />
    <result column="BRANCH_ID" property="branchId" jdbcType="DECIMAL" />
    <result column="CREATE_DATE" property="createDate" jdbcType="DATE" />
    <result column="CREATE_BY" property="createBy" jdbcType="DECIMAL" />
    <result column="MODIFY_DATE" property="modifyDate" jdbcType="DATE" />
    <result column="MODIFY_BY" property="modifyBy" jdbcType="DECIMAL" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  
  
   <resultMap id="treeOrganResultMap" type="com.manpowergroup.cn.icloud.sys.model.Tree" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="PRANET_ID" property="pId" jdbcType="DECIMAL" />
  </resultMap>
  
  <delete id="deleteByPrimaryKey" parameterType="Long" >
    delete from T_SYS_ORGAN
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <!--<insert id="insert" parameterType="com.manpowergroup.cn.icloud.sys.entity.Organ" >
    insert into T_SYS_ORGAN (ID, NAME, PARENT_ID, 
      BRANCH_ID, CREATE_DATE, CREATE_BY, 
      MODIFY_DATE, MODIFY_BY, STATUS, 
      REMARK)
    values (#{id,jdbcType=DECIMAL}, #{name,jdbcType=VARCHAR}, #{parentId,jdbcType=DECIMAL}, 
      #{branchId,jdbcType=DECIMAL}, #{createDate,jdbcType=DATE}, #{createBy,jdbcType=DECIMAL}, 
      #{modifyDate,jdbcType=DATE}, #{modifyBy,jdbcType=DECIMAL}, #{status,jdbcType=DECIMAL}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  --><update id="updateByPrimaryKey" parameterType="com.manpowergroup.cn.icloud.sys.entity.Organ" >
    update T_SYS_ORGAN
    set NAME = #{name,jdbcType=VARCHAR},
      PARENT_ID = #{parentId,jdbcType=DECIMAL},
      BRANCH_ID = #{branchId,jdbcType=DECIMAL},
      CREATE_DATE = #{createDate,jdbcType=DATE},
      CREATE_BY = #{createBy,jdbcType=DECIMAL},
      MODIFY_DATE = #{modifyDate,jdbcType=DATE},
      MODIFY_BY = #{modifyBy,jdbcType=DECIMAL},
      STATUS = #{status,jdbcType=DECIMAL},
      REMARK = #{remark,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="Long" >
    select ID, NAME, PARENT_ID, BRANCH_ID, CREATE_DATE, CREATE_BY, MODIFY_DATE, MODIFY_BY, 
    STATUS, REMARK
    from T_SYS_ORGAN
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select ID, NAME, PARENT_ID, BRANCH_ID, CREATE_DATE, CREATE_BY, MODIFY_DATE, MODIFY_BY, 
    STATUS, REMARK
    from T_SYS_ORGAN
  </select>
  
  <select id="get" parameterType="Long" resultType="com.manpowergroup.cn.icloud.sys.entity.Organ">
	select ID as id,NAME as name,PARENT_ID as parentId,
	BRANCH_ID as branchId,STATUS as status,REMARK as remark,CREATE_BY as createBy,CREATE_DATE as createDate
	 from T_SYS_ORGAN org WHERE ID=#{id}
	</select>
	
	
	
	<select id="getOrganById" parameterType="Long" resultType="com.manpowergroup.cn.icloud.sys.entity.Organ">
	select ID as id,NAME as name,PARENT_ID as parentId,(select NAME from T_SYS_ORGAN p where p.id=org.PARENT_ID) parentName ,
	BRANCH_ID as branchId,STATUS as status,REMARK as remark
	 from T_SYS_ORGAN org WHERE ID=#{id} 
	</select>
  
  
  <insert id="insert" parameterType="com.manpowergroup.cn.icloud.sys.entity.Organ" keyProperty="id" keyColumn="ID">
	 <selectKey resultType="Long" keyProperty="id" order="BEFORE" >  
   		SELECT SEQ_SYS_ORGAN.NEXTVAL FROM DUAL  
  	 </selectKey>  
		insert into T_SYS_ORGAN (ID,
				NAME,
				PARENT_ID,
				BRANCH_ID,
				CREATE_BY,
				CREATE_DATE,
				REMARK,
				STATUS
				
		 )
		values ( #{id,jdbcType=DECIMAL},
		#{name,jdbcType=VARCHAR},
		#{parentId,jdbcType=DECIMAL},
		#{branchId,jdbcType=DECIMAL},
		#{createBy,jdbcType=DECIMAL},
		#{createDate,jdbcType=DATE},
		#{remark,jdbcType=VARCHAR},
		#{status,jdbcType=DECIMAL}
		
		)
	</insert>
	
	<select id="search" parameterType="map" resultType="com.manpowergroup.cn.icloud.sys.entity.Organ">
	select o.ID as id,o.NAME as name,o.BRANCH_ID as branchId,	
	o.REMARK as remark,
	o.PARENT_ID as parentId 
		from T_SYS_ORGAN o 
		<where>
			<if test="branchId != null and branchId!='' ">
				and o.BRANCH_ID=#{branchId}
			</if>
			<if test="name != null and name!='' ">
				and NAME=#{name}
			</if>
			<if test="remark != null and remark!='' ">
				and REMARK=#{remark}
			</if>
			order by id desc
		</where>
	</select>
	
	<select id="count"  resultType="java.lang.Long" parameterType="map">
	select count(*) from (select distinct ID from T_SYS_ORGAN o
	<where>
			<if test="branchId != null and branchId!='' ">
				and BRANCH_ID=#{branchId}
			</if>
			<if test="name != null and name!='' ">
				and NAME=#{name}
			</if>
			<if test="remark != null and remark!='' ">
				and REMARK=#{remark}
			</if>
		</where>
	) oo
	</select>
	
	<select id="getNameById" parameterType="Long" resultType="com.manpowergroup.cn.icloud.sys.entity.Organ">
	select ID as id,NAME as name
	 from T_SYS_ORGAN org WHERE ID=#{id}
	</select>
  
  <select id="queryOrganIdsById" parameterType="Long" resultType="com.manpowergroup.cn.icloud.sys.entity.Organ">
	 select distinct id, name
from t_sys_organ
connect by prior id=parent_id
start with
 ID=#{id}
	</select>
	
	<select id="queryallOrganByBranchId" parameterType="Long" resultMap="treeOrganResultMap">
		select  id, 
			    name,
			    parent_id pId
		from t_sys_organ where Branch_id=#{currBranchId}
	</select>
  
</mapper>